/*HEADER TODAS AS PÁGINAS*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:azure;
    text-align: center;
    
}    

a{
    text-decoration: none;
}
.table-header{
    background-color:rgb(219, 242, 238);
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
    padding: 10px;
    display: flex;
    justify-content: space-around;

}
h2{
    font-size: 4vw;
}
.img-header{
    width: 30%;
    height: 30%;
    
}
header{
    background-color:honeydew;
}
ul{
    padding: 5px;
    margin: 5px;
    display: grid;
    justify-content: space-around;
    list-style-type: none;
}

/*página index*/
.vermelho{
    color: red;
}
/*PÁGINA PRODUTOS*/

li{
    margin: 10px;
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
    padding: 5px;
    display: inline-block;

}

.preco{
    color: red;
}
.produtos{
    display: grid;
    background-color: white;
    margin: 35px;
    border-radius: 20px;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.flex{
    display: flex;
    justify-items: center;
    justify-content:space-evenly;
    align-content: space-evenly;
}
